.tab-size{
    /* width: 100%;
    display: flex;
    justify-content: center; */
    padding-right: 225px;
   
  }


    body {
      background-color: #212529;
      color: whitesmoke;
    }
 
   .accordion-item:active {

    background-color: #212529;
    border-bottom: 1px solid #E4A86D;
   }

  .hoverclass :focus,
  .hoverclass:hover,
  .hoverclass.active 
   {
    background-color: #E4A86D;
    color:whitesmoke;
    /* border:#E4A86D; */
    border-top:#E4A86D;
    border-bottom:#E4A86D;
    border-left: none;
    border-right: none;
    border-radius:0;
color: #E4A86D;
  }
  .font-family-custom {
    font-family: "Questrial", sans-serif;
  }
 
  .btnhoverclass.active {
    background-color: #E4A86D;
    color:whitesmoke;
    border:#E4A86D}

    .accordion-button:focus
   {
    box-shadow: none;
   background-color: #E4A86D;
    color:whitesmoke;
    border:#E4A86D
    }

    .nav-link-hover:hover{
      border-bottom: 1px solid #E4A86D;
     
     }
  .font-color-custom {
    color:#E4A86D
  }


  .list-group-item  {
    background-color: #212529;
    color: whitesmoke;
    /* border-top: 1px solid #E4A86D; */
    border-bottom: 1px solid #E4A86D;
  }

  .accordion-button {
    background-color: #212529;
    color: whitesmoke;
    /* border-top: 1px solid #E4A86D; */
    border-bottom: 1px solid #E4A86D;
  }

  .accordion-button :focus,
  .list-group-item:focus
   {
    background-color: #E4A86D;
    color: whitesmoke;
    border-top: 1px solid #E4A86D;
  }
  
  .list-group-item:hover {
    /* background-color: #E4A86D;
    color: whitesmoke; */
    border-top: 1px solid #E4A86D;

  }
  .list-group-item:active {
    background-color: #E4A86D;
    color: whitesmoke;
    border-top: 1px solid #E4A86D;
  }


@media all and (max-width:800px){
    .tab-size{
        /* width: 100%;
        display: flex;
        justify-content: center; */
        padding-right: 10px;
       
      }
      .nav-link {
        text-align: center;
      }

      .fs-mobile {
        font-size: 14px;
      }
}

